Django==4.0.8
djangorestframework==3.13.1
django-allauth==0.33.0
django-classy-tags==2.0.0
django-cors-headers==3.7.0
django_ckeditor==6.1.0
Pillow==9.3.0
django-tempus-dominus==5.1.2.16
psycopg2==2.9
