{% extends "base_blog.html" %}


{% block title %}    <title> {{category_name}} </title> {% endblock %}

{% block menu_categories %}
{% for c in categories %}

{% if forloop.first %}
    <li class="nav-item active"><a class="nav-link" href="/category/{{c.slug}}">
    {{c.name}}
    </a>
    </li>
{% else %}
<li class="nav-item"><a class="nav-link disabled" href="/category/{{c.slug}}">
    {{c.name}}
    </a>
    </li>
{% endif %}

   {% endfor %}
{% endblock %}


{% block content %}
    {% for c in articles %}
    <div class="card" style="width: 18rem;">
    <img src="{{ MEDIA_URL }}/{{c.img}}" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">{{ c.title }}</h5>
        {% with ct=c.content|safe %}
        <p class="card-text">{{ ct|slice:"500"}}...</p>
        {% endwith %}



       
    <div class="card-footer">
          <medium class="text-muted">{{ article.author }}</medium>
    <div class="cats">
        {% for category in c.categories.all %}
      <a href="/category/{{ category.slug }}"><small class="cat text-muted">{{ category.name }}</small></a>
        {% endfor %}
    </div>

    <div style="margin-top:1em;">
     <a href="/article/{{c.slug}}" class="btn btn-primary">Continue</a>
    </div>
         </div>
         
      </div>
    </div>
    {% endfor %}
{% endblock %}
