{% extends "base_blog.html" %}


{% block title %}    <title>{{article.title}} </title> {% endblock %}

{% block menu_categories %}
    {% for c in categories %}

    {% if forloop.first %}
        <li class="nav-item active"><a class="nav-link" href="/category/{{c.slug}}">
        {{c.name}}
        </a>
        </li>
    {% else %}
    <li class="nav-item"><a class="nav-link disabled" href="/category/{{c.slug}}">
        {{c.name}}
        </a>
        </li>
    {% endif %}

       {% endfor %}
{% endblock %}

{% block content %}
    {% if article %}
    <div class="card" style="width: 52rem; margin-left: auto; margin-right: auto;">
<img src="{{ MEDIA_URL }}/{{article.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content|safe}}</p>

<div class="card-footer">
      <medium class="text-muted">{{ article.author }}</medium>
<div class="cats">
   
    {% for category in article.categories.all %}
  <a href="/category/{{ category.slug }}"><small class="cat text-muted">{{ category.name }}</small></a>
    {% endfor %}
</div>

     </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
