<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
jQuery(document).on( "keydown", ".normal", function(e){if (e.keyCode == 13) {return false;} });
</script>
<style>
body {
background: radial-gradient(#d3e1f2, transparent);
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="" method="POST">
      <img class="mb-4" src={% static 'images/rango.jpeg' %} alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% csrf_token %}
{% for field in form %}
{% if not forloop.last %}
    {{ field }}
{% else %}
      <div class="checkbox mb-3">
         {{ field }} Remember me
      </div>
{% endif %}
{% endfor %}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021 Phalanthus</p>
    </form>
  </body>
</html>

