<!doctype html>
<html lang="en">
<head>
 {% load static %}
{% load rest_framework %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{{ form.media }}
<script type="text/javascript">

jQuery(document).on( "keydown", ".normal", function(e){if (e.keyCode == 13) {return false;} });

$(document).ready(function() {
{% if form %}       
$("#{{form.slug.id_for_label}}").keyup(function () {
    this.value = this.value.replace(/ /g, "-").toLowerCase();
});
{% endif %}

{% if category_form %}      
$("#{{category_form.slug.id_for_label}}").keyup(function () {
    this.value = this.value.replace(/ /g, "-").toLowerCase();
});
{% endif %}



$('.del_article').on('click', function(){
    let confirmation = confirm("are you sure you want to remove the item?");
    if (confirmation) {
        let object_id = event.target.id;
        let url = `/panel/posts/${object_id}/`;
        $.ajax({
           url: url,
    headers:{
        "X-CSRFToken": '{{ csrf_token }}'
         },
        data: JSON.stringify({"slug" : object_id, "object_type": "article"}),
           type: "DELETE",
           contentType: "application/json"
         }).done(
              function(){alert("Deleted"); window.location.href = "/panel/settings/"}
            ).fail(
              function(){alert("Error");}
            ) 
}
})
$('.del_cat').on('click', function(){
    let confirmation = confirm("are you sure you want to remove the item?");
    if (confirmation) {
        let object_id = event.target.id;
        let url = `/panel/posts/${object_id}/`;
        $.ajax({
           url: url,
    headers:{
        "X-CSRFToken": '{{ csrf_token }}'
         },
        data: JSON.stringify({"slug" : object_id, "object_type" : "category"}),
           type: "DELETE",
           contentType: "application/json"
         }).done(
              function(){alert("Deleted"); window.location.href = "/panel/settings/"}
            ).fail(
              function(){alert("Error");}
            ) 
}
})
})
  </script>


{% csrf_token %}


<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script> 
<title>Rango CMS panel</title>
<link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"/>    
<link rel="stylesheet" href="{% static 'sidebar-09/css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/custom_panel.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/propeller.min.css' %}">
<link rel="stylesheet" href="{% static 'datetimepicker/css/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" href="{% static 'datetimepicker/css/pmd-datetimepicker.css' %}">
</head>

{% block content %}
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
				<!--	<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button> -->
        </div>
	  		<div class="img bg-wrap text-center py-4">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url({% static 'images/rango.jpeg' %});"></div>
	  				<h3>Rango CMS panel</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/panel"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/panel/new_post"><span class="fa fa-pencil mr-3"></span> New Post</a>
          </li>
          <li>
            <a href="/panel/settings"><span class="fa fa-cog mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-code mr-3"></span> Api</a>
          </li>
          <li>
            <a href="/sign_out"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div  class="p-4 p-md-5 pt-5" name="content">
    {% if settings %}
        <h2 class="mb-4">Settings</h2>
   {% endif %}
  

{% if settings %}

{% if articles %}
<ul class="list-group">
  <li class="list-group-item">Articles</li>



{% for article in articles %} 

  <li class="list-group-item list-group-item-primary">

<a href = "#">{{ article.title }}</a>
<div style="display:inline-block">
<button href = "#" style="background-color: green;"> edit </button>

<button id='{{ article.slug|slugify }}' class="del_article"  style="background-color: red;">delete</button>
<span> status : 
{% if article.is_published %}
<b style = "color: darkgreen;">published</b>
{% else %}
<b style = "color: darkbrown;">Drafted</b>
{% endif %}
 for date : {{ article.date|date:"m/d/Y h:i a" }} </span>

</div>
</li>

{% endfor %}

</ul>


{% endif %}

<div style="display:list-items">
<form id="changeCatForm" action="" method="POST">
{% csrf_token %}

{% if categories %}
<ul class="list-group">
  
<li class="list-group-item">Categories</li>
{% for category in categories %} 

  <li class="list-group-item  list-group-horizontal list-group-item-primary">

<a href = "#">{{ category.name }}</a>
<div style="display:inline-block; float:right;">
<button href = "#" style="background-color: green;"> edit </button>

<button id='{{ category.slug|slugify}}' class="del_cat"  style="background-color: red;">delete</button>
</div>
</li>
{% endfor %}

</ul>

{% endif %}



<div  class="input-group mb-3">
 <div class="input-group-prepend" style="margin:0;">
    <button class="btn btn-outline-secondary" type="submit">add category</button>
  </div>

<div class="normal" style="padding: 1px;"> {{ category_form.name }} </div>
<div class="normal" style="padding: 1px;">  {{ category_form.slug }} </div>
</div>
</form>
</div>








{% endif %}

{% if form %}	
	<div style="display:list-items">


<form id="postform" action="" method="POST" enctype='multipart/form-data'>
{% csrf_token %}

{{ form.errors }}
{{ error }}
{{form.title}}
{{form.slug}}
{{form.img}}
<!--Default date and time picker -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label class="control-label" for="datetimepicker-default">Select Date and Time</label>
{{ form.date }}

</div>


{{form.content}}
<div style="display:inline-block">

{{form.categories}}

{{form.new_categories}}

{{ form.is_published }}


<button type="submit" class="btn btn-lg btn-primary btn-block submit"> submit </button>
</form>
</div>

{% endif %}


      </div>
		</div>


{%if form %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src={% static "dist/js/propeller.min.js" %}></script>

<script type="text/javascript" src="{% static "datetimepicker/js/moment-with-locales.js" %}"></script>
<script type="text/javascript" language="javascript" src={% static "datetimepicker/js/bootstrap-datetimepicker.js" %}></script>

<script>
    // Default date and time picker
    $('#datetimepicker-default').datetimepicker();
</script>
 
{% endif %}




{% endblock %}



</body>
</html>
